.bookData {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 700px;


}

.bookList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.notFoundError {
    font-size: 35px;
    text-transform: uppercase;
}

.book {
    font-size: 21px;
    text-transform: uppercase;
}

.loader {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 180px;

}